<div class="row">
	<div class="form-group col-xs-12">
		<label for="filtering-contact">{{'contacts.tab.Search' | translate}}</label>
		<input type="text" class="form-control" id="filtering-contact" ng-model="filterContact" placeholder="{{'contacts.tab.Search' | translate}}">
	</div>
</div>

<div class="row">
	<table class="table table-striped" ng-show="contactsState == true">
		<thead>
			<tr>
				<th>
					#
				</th>
				<th>
					{{'contacts.tab.Informations' | translate}}
				</th>
				<th>
					{{'contacts.tab.Cellphone' | translate}}
				</th>
				<th>
					{{'contacts.tab.Email' | translate}}
				</th>
				<th>
					{{'contacts.tab.Actions' | translate}}
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="contact in contacts | filter:filterContact | orderBy:'firstName' track by $index">
				<th scope="row">
					<span class="glyphicon glyphicon-user"></span>
					{{contact.id}}
				</th>
				<td>
					{{contact.lastName}} {{contact.firstName}}
				</td>
				<td>
					{{contact.cellphone}}
				</td>
				<td>
					{{contact.email}}
				</td>
				<td>
					<span class="glyphicon glyphicon-remove" ng-click="removeContact(contact)"></span>
				</td>
			</tr>
		</tbody>
	</table>
</div>