<table class="table table-striped">
	<thead>
		<tr>
			<th>
				#
			</th>
			<th>
				Informations
			</th>
			<th>
				Cellphone
			</th>
			<th>
				Email
			</th>
			<th>
				Actions
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="contact in contacts">
			<th scope="row">
				<span class="glyphicon glyphicon-user"></span>
			</th>
			<td>
				{{contact.lastName}} {{contact.firstName}}
			</td>
			<td>
				{{contact.cellPhone}}
			</td>
			<td>
				{{contact.email}}
			</td>
			<td>
				<span class="glyphicon glyphicon-remove" ng-click="removeContact(contact)"></span>
			</td>
		</tr>
	</tbody>
</table>