<div class="row">
	<form class="col-xs-12" ng-submit="addContact()">
		<div class="form-group col-xs-12 col-md-6">
			<label for="contact-name">Name</label>
			<input type="text" class="form-control" id="contact-name" ng-model="contact.lastName" placeholder="Name">
		</div>
		<div class="form-group col-xs-12 col-md-6">
			<label for="contact-firstname">Firstname</label>
			<input type="text" class="form-control" id="contact-firstname" ng-model="contact.firstName" placeholder="Firstname">
		</div>
		<div class="form-group col-xs-12 col-md-6">
			<label for="contact-email">Email</label>
			<input type="text" class="form-control" id="contact-email" ng-model="contact.email" placeholder="Email">
		</div>
		<div class="form-group col-xs-12 col-md-6">
			<label for="contact-phone">Phone</label>
			<input type="text" class="form-control" id="contact-phone" ng-model="contact.cellphone" placeholder="Phone">
		</div>
		<button type="submit" class="btn btn-primary">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			Add
		</button>
		<button type="button" class="btn btn-warning" ng-click="backContactsList()">
			<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
			Back
		</button>
	</form>
</div>